<div class="container mx-auto p-3 flex justify-center items-center h-screen">
  <div
    class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-8 w-full md:w-1/2"
  >
    <h1 class="text-center text-indigo-600 text-3xl font-bold mb-8">
      Regístrate
    </h1>
    <form
      [formGroup]="formUser"
      (ngSubmit)="saveData()"
      class="max-w-md mx-auto"
    >
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
          placeholder="Ingrese aquí su nombre, por favor"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Correo electrónico</label
        >
        <input
          type="text"
          id="email"
          formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
          placeholder="correo@ejemplo.com"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="Fecha de nacimiento"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Fecha de nacimiento</label
        >
        <input
          type="date"
          id="birthdate"
          formControlName="birthdate"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="Contraseña"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
          required
        />
      </div>

      <div class="flex items-center">
        <input
          id="default-radio-1"
          type="radio"
          value="0"
          formControlName="gender"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="default-radio-1"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Masculino</label
        >
      </div>
      <div class="flex items-center mb-4">
        <input
          checked
          id="default-radio-2"
          type="radio"
          value="1"
          formControlName="gender"
          class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="default-radio-2"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Femenino</label
        >
      </div>

      <hr class="mb-3" />
      <div class="w-1/2">
        <button
          type="submit"
          class="block text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full mt-5"
        >
          Guardar
        </button>
      </div>
      <div class="my-5">
        <p class="text-sm text-blue-700 text-center">
          ¿Ya tienes una cuenta?<a class="font-bold" data-hs-overlay="#hs-notifications"
            >{{" "}}¡Presiona aqui para iniciar sesión!</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
<app-user-login></app-user-login>