<div class="container mx-auto p-4 lg:w-3/5">
  <div *ngIf="video" class="flex flex-col">
    <video class="rounded-md" controls *ngIf="video.data?.url">
      <source
        [src]="'http://192.168.1.252:8000' + video.data.url"
        type="video/mp4"
      />
      Tu navegador no admite la etiqueta de video.
    </video>
    <h3 class="font-bold mt-4 text-lg sm:text-xl">
      {{ video.data.titulo }}
    </h3>
    <div class="flex flex-col sm:flex-row sm:items-center mt-4">
      <img
        class="w-10 h-10 sm:w-12 sm:h-12 rounded-full"
        src="https://flowbite.com/docs/images/examples/image-2@2x.jpg"
        alt="image description"
      />
      <div class="mt-2 sm:mt-0 sm:ml-4">
        <h3 class="text-sm sm:text-base">
          <a [routerLink]="['/profile', video?.data?.user?.id]">{{
            video.data.user.name
          }}</a>
        </h3>
        <p class="text-xs sm:text-sm font-semibold">10k Suscriptores</p>
      </div>
      <div class="flex-grow mt-4 sm:mt-0"></div>
      <button
      *ngIf="isLogged"
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mb-2"
      >
        Suscribirse
      </button>
      <div *ngIf="isLogged" class="inline-flex mt-4 sm:mt-0 rounded-md shadow-sm" role="group">
        <button
          type="button"
          (click)="saveLike()"
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            [ngClass]="{
              'text-gray-700': isLiked === false,
              'text-blue-700': isLiked === true
            }"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.960a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z"
            />
          </svg>
        </button>
        <button
          (click)="saveDislike()"
          type="button"
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
            [ngClass]="{
              'text-gray-700': isLiked === true,
              'text-blue-700': isLiked === false
            }"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54"
            />
          </svg>
        </button>
      </div>
    </div>
    <div
      class="mt-4 bg-gray-200 border-2 p-4 rounded-md dark:bg-neutral-700 dark:border-neutral-600"
    >
      <h3>{{ video.data.descripcion }}</h3>
    </div>
    <form
      *ngIf="isLogged"
      [formGroup]="formComentario"
      (ngSubmit)="saveData()"
      class="mt-4 flex flex-col sm:flex-row sm:items-center space-y-3 sm:space-y-0"
    >
      <div class="flex-grow relative">
        <input
          id="comentario"
          formControlName="comentario"
          type="text"
          class="peer py-3 pe-0 ps-8 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 dark:focus:border-b-neutral-600"
          placeholder="Agrega un comentario..."
        />
        <div
          class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="flex-shrink-0 size-4 text-gray-500 dark:text-neutral-500"
          >
            <path
              fill-rule="evenodd"
              d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <button
        type="submit"
        class="text-white bg-gray-800 ml-5 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
      >
        Publicar
      </button>
    </form>

    <ul>
      <li
        *ngFor="let comment of comments; let i = index"
        class="relative mt-4 p-4 bg-gray-100 rounded-lg dark:bg-neutral-800"
      >
        <div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <p class="font-bold text-sm mr-3">{{ comment.user.name }}</p>
              <p class="text-xs text-gray-600 dark:text-neutral-400">
                {{ formatDate(comment.created_at) }}
              </p>
            </div>
            <div class="relative">
              <button
                id="dropdownMenuIconButton"
                (click)="toggleDropdown(i)"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-white"
                type="button"
              >
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 4 15"
                >
                  <path
                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                  />
                </svg>
              </button>
              <div
                *ngIf="dropdownOpenIndex === i"
                id="dropdownDots"
                class="absolute right-0 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
              >
                <ul
                  *ngIf="userId == comment.user.id"
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownMenuIconButton"
                >
                  <li>
                    <button
                      (click)="
                        editarComentario(
                          comment.id,
                          comment.comentario,
                          comment.fk_video
                        )
                      "
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      Modificar
                    </button>
                  </li>
                  <li>
                    <button
                      (click)="borrarComentario(comment.id, i)"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >
                      Borrar
                    </button>
                  </li>
                </ul>
                <ul
                  *ngIf="userId != comment.fk_user"
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownMenuIconButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Reportar</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="text-sm font-medium mt-2">
            {{ comment.comentario }}
            <button
            *ngIf="isLogged"
              class="ml-3 text-gray-500 text-xs"
              (click)="GuardarRespuestaRespuesta(null, comment.id)"
            >
              Responder
            </button>
          </p>

          <form
            *ngIf="
              comentarioSeleccionado &&
              comentarioSeleccionado.id === +comment.id
            "
            [formGroup]="formRespuesta"
            (ngSubmit)="saveRespuesta(comment.id)"
            class="mt-2"
          >
            <div class="relative">
              <input
                id="respuesta"
                formControlName="respuesta"
                type="text"
                class="peer py-3 pe-0 ps-8 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 dark:focus:border-b-neutral-600"
                placeholder="Responde a este comentario..."
              />
              <div
                class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="flex-shrink-0 size-4 text-gray-500 dark:text-neutral-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.848 2.771A49.144 49.144 0 0 1 12 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 0 1-3.476.383.39.39 0 0 0-.297.17l-2.755 4.133a.75.75 0 0 1-1.248 0l-2.755-4.133a.39.39 0 0 0-.297-.17 48.9 48.9 0 0 1-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97ZM6.75 8.25a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1-.75-.75Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
            <button
              type="submit"
              class="py-1 px-2 text-xs my-4 inline-flex items-center gap-x-2 font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Guardar
            </button>
          </form>
        </div>
        <ul
          *ngIf="respuestaPorComentario[comment.id].length > 0"
          class="mt-4 space-y-3 ml-6 border-l-2 border-blue-300 rounded-b-lg pl-3"
        >
          <li
            *ngFor="let respuesta of respuestaPorComentario[comment.id] || []"
            class="p-3 bg-gray-100 rounded-xl dark:bg-neutral-800"
          >
            <div
              class="text-xs mb-2 font-medium border-1 bg-gray-300 p-3 w-50 border-gray-500 rounded-lg"
            >
              <p *ngIf="respuesta.user" class="text-xs mb-1 font-bold">
                {{ respuesta.user.name }}
              </p>
              {{ respuesta.respuesta }} <br />
              <ng-container *ngIf="isLogged">
                <button
                  (click)="
                    GuardarRespuestaRespuesta(
                      respuesta.id,
                      respuesta.fk_comentario
                    )
                  "
                  class="ml-3 text-gray-500 text-xs"
                >
                  Responder
                </button>
  
                <ng-container *ngIf="userId == respuesta.fk_user">
                  <button
                    (click)="
                      editarRespuesta(
                        respuesta.id,
                        respuesta.respuesta,
                        respuesta.fk_respuesta_padre
                      )
                    "
                    class="ml-3 text-gray-500 text-xs"
                  >
                    Editar
                  </button>
                  <button
                    (click)="
                      GuardarRespuestaRespuesta(
                        respuesta.id,
                        respuesta.fk_comentario
                      )
                    "
                    class="ml-3 text-gray-500 text-xs"
                  >
                    Eliminar
                  </button>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="userId !== respuesta.fk_user">
                <button
                  (click)="
                    GuardarRespuestaRespuesta(
                      respuesta.id,
                      respuesta.fk_comentario
                    )
                  "
                  class="ml-3 text-gray-500 text-xs"
                >
                  Reportar
                </button>
              </ng-container>
            </div>

            <ul
              class="space-y-3 ml-6 border-l-2 border-blue-300 pl-3 rounded-b-lg"
              *ngIf="respuesta.respuestas.length > 0"
            >
              <ng-container
                *ngTemplateOutlet="
                  nestedReplies;
                  context: { $implicit: respuesta.respuestas }
                "
              ></ng-container>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ng-template #nestedReplies let-respuestas let-i>
      <ul class="space-y-3">
        <li
          class="p-3 bg-gray-100 rounded-xl dark:bg-neutral-800"
          *ngFor="let respuesta of respuestas"
        >
          <div
            class="text-xs mb-2 font-medium border-1 bg-gray-300 p-3 w-50 border-gray-500 rounded-lg"
          >
            <p *ngIf="respuesta.user" class="text-xs mb-1 font-bold">
              {{ respuesta.user?.name }}
            </p>
            {{ respuesta.respuesta }} <br />
            <ng-container *ngIf="isLogged">
              <button
                (click)="
                  GuardarRespuestaRespuesta(
                    respuesta.id,
                    respuesta.fk_comentario
                  )
                "
                class="ml-3 text-gray-500 text-xs"
              >
                Responder
              </button>

              <ng-container *ngIf="userId == respuesta.fk_user">
                <button
                (click)="
                editarRespuesta(
                  respuesta.id,
                  respuesta.respuesta,
                  respuesta.fk_respuesta_padre
                )
              "
                  class="ml-3 text-gray-500 text-xs"
                >
                  Editar
                </button>
                <button
                  (click)="
                    GuardarRespuestaRespuesta(
                      respuesta.id,
                      respuesta.fk_comentario
                    )
                  "
                  class="ml-3 text-gray-500 text-xs"
                >
                  Eliminar
                </button>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="userId != respuesta.fk_user">
              <button
                (click)="
                  GuardarRespuestaRespuesta(
                    respuesta.id,
                    respuesta.fk_comentario
                  )
                "
                class="ml-3 text-gray-500 text-xs"
              >
                Reportar
              </button>
            </ng-container>
          </div>
          <ul
            class="space-y-3 ml-6 border-l-2 border-blue-300 pl-3 rounded-b-lg"
            *ngIf="respuesta.respuestas?.length > 0"
          >
            <ng-container
              *ngTemplateOutlet="
                nestedReplies;
                context: { $implicit: respuesta.respuestas }
              "
            ></ng-container>
          </ul>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
