<app-sidebar-videos></app-sidebar-videos>

<div class="p-3 sm:ml-64 mt-10">
    <div class="container mx-auto p-3">
      <div class="bg-blue-300 rounded-md shadow w-full h-48"></div>
      <div class="flex flex-col ml-5 sm:flex-row items-center justify-center sm:justify-start">
        <img
          class="rounded-full mt-3 w-36 h-36 mb-4 sm:mb-0 sm:mr-8"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt="Extra large avatar"
        />
        <div class="text-center sm:text-left">
          <h3 class="text-2xl font-medium mb-2">{{ user?.data?.name }}</h3>
          <button
            type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Suscribirse
          </button>
        </div>
      </div>
    </div>
  </div>
  
  

  
