  
<div class="p-3   mt-10">
  <div class="rounded-md h-24 bg-blue-400 p-3">
    <h2 class="text-4xl font-medium text-center text-white mt-5">
      Historial de reproducción
    </h2>
  </div>

  <div *ngFor="let video of videos.data">
    <div class="mt-4 md:flex">
      <a
        [routerLink]="['/video', video.video.id]"
        class="flex flex-col bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 w-full"
      >
        <img
          class="object-cover w-full md:w-48 md:rounded-l-lg md:rounded-r-none"
          [src]="'http://192.168.1.252:8000' + video.video.miniatura"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ video.video.titulo }}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ video.video.descripcion }}.
          </p>
          <p>{{ formatDate(video.video.created_at) }}.</p>
          <a
            class="mb-3 font-medium text-gray-700 dark:text-gray-400"
          >
            <img
              class="w-12 h-12 md:w-full md:h-auto md:rounded-full"
              [src]="'http://192.168.1.252' + video.video.user.foto"
              alt=""
            />
            <p class="md:ml-4">{{ video.video.user.nombre_canal }}.</p>
          </a>
        </div>
      </a>
    </div>
  </div>
  
  
</div>
