  <div class="min-h-screen flex flex-grow items-center justify-center bg-gray-50">
    <div class="rounded-lg bg-blue-200 p-8 text-center shadow-sm border-2 md:w-1/2">
        <h1 class="mb-4 text-4xl font-bold"><span class="text-blue-500">I</span><span class="text-red-700">R</span>Tube</h1>
        <h1 class="mb-4 text-4xl font-bold">Acceso Denegado</h1>
        <p class="text-gray-600"> Lo siento, no tienes permisos para acceder a esta página. <br> inicia sesión para disfrutar de estos privilegios </p>
        <a routerLink="/login" class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"> Iniciar sesión </a>
    </div>
  </div>