

    <div class="flex flex-col m-2 shadow">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="border rounded-lg divide-y bg-white divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700"
        >
          <div class="py-3 px-4 flex justify-between items-center">
            <div class="relative max-w-xs">
              <label for="hs-table-search" class="sr-only">Search</label>
              <input
                type="text"
                name="hs-table-search"
                id="hs-table-search"
                class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                placeholder="Busca alguno de tus videos"
              />

              <div
                class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3"
              >
                <svg
                  class="size-4 text-gray-400 dark:text-neutral-500"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <path d="m21 21-4.3-4.3"></path>
                </svg>
              </div>
            </div>

            <div>
              <button
                (click)="toggleModal()"
                class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400"
              >
                Subir video
              </button>
            </div>
          </div>
          <div class="overflow-hidden">
            <table
              class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
            >
              <thead class="bg-gray-50 dark:bg-neutral-700">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >
                    Video
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >
                    Miniatura
                  </th>
                  <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >
                  Título
                </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >
                    descripción
                  </th>
                  <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >
                  Estado
                </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >
                    Fecha de creación
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                <tr *ngFor="let video of videos.data; let iControl = index">
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200"
                  >
                    <div class="aspect-w-16 aspect-h-9">
                      <video class="object-cover w-40 h-25" controls>
                        <source
                          [src]="'http://192.168.1.66:8000/storage/' + video.url"
                          type="video/mp4"
                        />
                        Tu navegador no admite la etiqueta de video.
                      </video>
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200"
                  >
                    <div class="aspect-w-16 aspect-h-9">
                      <img
                        class="object-cover w-40 h-25"
                        [src]="
                          'http://192.168.1.66:8000/storage/' + video.miniatura
                        "
                        alt=""
                      />
                    </div>
                  </td>
                  <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"
                >
                  <div *ngIf="video.titulo && video.titulo.length > 25">
                    <p class="text-xs">
                      {{ video.titulo | slice : 0 : 25 }}...
                    </p>
                  </div>
                  <div
                    *ngIf="
                      video.titulo && video.titulo.length <= 20
                    "
                  >
                    <p class="text-xs">{{video.titulo}}</p>
                  </div>
                </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200"
                  >
                    <div
                      *ngIf="video.descripcion && video.descripcion.length > 20"
                    >
                      <p class="text-xs">
                        {{ video.descripcion | slice : 0 : 20 }}...
                      </p>
                    </div>
                    <div
                      *ngIf="
                        video.descripcion && video.descripcion.length <= 20
                      "
                    >
                      <p class="text-xs">{{video.descripcion}}</p>
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200"
                  >
                    <p
                      [style.color]="
                        video.estado === '1'
                          ? 'green'
                          : video.estado === '0'
                          ? 'red'
                          : 'gray'
                      "
                    >
                      {{
                        video.estado === "1"
                          ? "Aceptado"
                          : video.estado === "0"
                          ? "Rechazado"
                          : "En espera"
                      }}
                    </p>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"
                  >
                    {{ formatDate(video.created_at) }}
                  </td>
                  <td>
                    <div class="inline-flex rounded-md shadow-sm">
                      <button
                        (click)="aceptar(video.id)"
                        class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m4.5 12.75 6 6 9-13.5"
                          />
                        </svg>
                      </button>
                      <a
                      (click)="rechazar(video.id, video.fk_user)"
                        class="px-4 py-2 text-sm font-medium text-red-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  

